@inject CustomIDataProtection _protector
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //Layout = null;
}



<form id="frm1" method="post" action="/LoanFlow/SaveKCCLand" enctype="multipart/form-data">
    <input type="hidden" value="@ViewBag.ApplicationId" id="ApplicationId"/>
    <input type="hidden" value="" id="docid"/>
     <div class="row justify-content-between text-left">
      <div class="form-group col-sm-2 flex-column d-flex">
            <label>District</label>
     </div>
    <div class="form-group col-sm-2 flex-column d-flex">
         <select class="form-control" id="district" name="district2">
             <option value="-1">
                    -- Select --
                </option>
             @foreach (var item in (List<Tuple<string,string>>)ViewBag.District)
            {
                <option value="@item.Item1">
                    @item.Item2
                </option>
            }
         </select>
    </div>
    <div class="form-group col-sm-2 flex-column d-flex">
          <label>Tehsil</label>
    </div>
     <div class="form-group col-sm-2 flex-column d-flex">
           <select class="form-control" id="tehsil" name="tehsil2">
                <option value="-1">
                    -- Select --
                </option>
         </select>
    </div>
    <div class="form-group col-sm-2 flex-column d-flex">
          <label>RI</label>
    </div>
     <div class="form-group col-sm-2 flex-column d-flex">
                 <select class="form-control" id="ri" name="ri2">
                      <option value="-1">
                    -- Select --
                </option>
         </select>
    </div>
             
     </div>
      <div class="row justify-content-between text-left">
      
    <div class="form-group col-sm-2 flex-column d-flex">
          <label>Village</label>
    </div>
    <div class="form-group col-sm-2 flex-column d-flex">
                 <select class="form-control" id="village" name="village2">
                      <option value="-1">
                    -- Select --
                </option>
         </select>
    </div>
     <div class="form-group col-sm-2 flex-column d-flex">
          <label>Khasra Number</label>
    </div>
    <div class="form-group col-sm-3 flex-column d-flex">
                 <input type="text" class="form-control" name="khasra" id="khasra" placeholder="Any One Khasra Number"/>
    </div>
    <div class="form-group col-sm-3 flex-column d-flex">
                 <button type="button" class="btn btn-sm btn-success" id="btnSearch" data-toggle="modal" data-target="#loadingModal" onclick="fetchBhuiya()">Search</button>
    </div>
     
     </div>

        <div class="row justify-content-between text-left">
      
    <div class="form-group col-sm-2 flex-column d-flex">
          <label>भूस्वामी :</label>
    </div>
    <div class="form-group col-sm-10 flex-column d-flex">
              <input type="text" readonly name="bhuswami" id="bhuswami" class="form-control" />
    </div>
   
     
     </div>

      <div class="row justify-content-between text-left">
        <div class="form-group col-sm-2 flex-column d-flex">
          <label>धारणाधिकार :</label>
    </div>
    <div class="form-group col-sm-2 flex-column d-flex">
                 <input type="text" readonly name="dharan" id="dharan" class="form-control" />
    </div>
    <div class="form-group col-sm-2 flex-column d-flex">
          <label>Bank Charge :</label>
    </div>
    <div class="form-group col-sm-6 flex-column d-flex">
                 <input type="text" readonly name="charge" id="charge" class="form-control" />
    </div>
                <div id="b1" class="form-group col-sm-4  flex-column d-flex">

                </div>
    </div>
    <div class="row justify-content-between text-left">
        <div class="form-group col-sm-2 flex-column d-flex">
          <label>राजस्व न्यायालय में विचाराधीन :</label>
    </div>
    <div class="form-group col-sm-10 flex-column d-flex">
                 <input type="text" readonly name="rajaswa" id="rajaswa" class="form-control" />
    </div>
     
    </div>
    
    <table class="table table-bordered table-sm">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Khasra No</th>
                <th>Total Area (Hect)</th>
                <th>Irrigated (Hect)</th>
                <th>Unirrigated (Hect)</th>
                <th>Non Agri (Hect)</th>
                <th>Source of Irrigation</th>
            </tr>
        </thead>
        <tbody id="landTbl">

        </tbody>
    </table>
  
  
  
  <button type="button" class="btn btn-primary" onclick="saveAllData()">Save</button> 
  <a href="/LoanFlow/Application/@_protector.Decode((ViewBag.ApplicationId).ToString())">Back to Application</a>
</form>
<div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <iframe id="b1View" style="width: 100%;min-height: 600px;position: relative;"  frameborder="0" ></iframe>
        </div>
</div>

<div class="modal" id="loadingModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
       
      <div class="modal-body">
        <img src="/images/loading-6.gif" class="img-fluid"/>
      </div>
       
    </div>
  </div>
</div>
@section scripts
{
<script type="text/javascript">
    $('body, html').on('change','#district', function(e) {
           var id =  $('#district').find(":selected").val();
             $.ajax({   
                url: "/KCC/GetTehsil?Id="+id,   
                type: "GET" 
            }).done(function (data) {
                $('#tehsil').empty();  
                      $('#tehsil').append('<option value="-1">-- Select --</option>');
                      $.each(data, function(item1,item2) {
                           $('#tehsil').append('<option value='+item2.item1+'>'+item2.item2+'</option>');
                      });
                     
            }); 

        });
        $('body, html').on('change','#tehsil', function(e) {
           var id =  $('#tehsil').find(":selected").val();
           var did =  $('#district').find(":selected").val();
             $.ajax({   
                url: "/KCC/GetRI?Id="+id+"&Dist="+did,   
                type: "GET" 
            }).done(function (data) {
                $('#ri').empty();  
                      $('#ri').append('<option value="-1">-- Select --</option>');
                      $.each(data, function(item1,item2) {
                           $('#ri').append('<option value='+item2.item1+'>'+item2.item2+'</option>');
                      });
                     
            }); 

        });
        $('body, html').on('change','#ri', function(e) {
           var id =  $('#ri').find(":selected").val();
           var did =  $('#district').find(":selected").val();
           var tehsil =  $('#tehsil').find(":selected").val();
             $.ajax({   
                url: "/KCC/GetVillage?Id="+id+"&Dist="+did+"&tehsil="+tehsil,   
                type: "GET" 
            }).done(function (data) {
                      $('#village').empty();  
                      $('#village').append('<option value="-1">-- Select --</option>');
                      $.each(data, function(item1,item2) {
                           $('#village').append('<option value='+item2.item1+'>'+item2.item2+'</option>');
                      });
                     
            }); 

        });
    function validateRow(a)
    {
        var totalRakba = parseFloat($('#rk-'+ a).text());
        var irrigated = parseFloat($('#irri-'+ a).val());
        var unirrigated = parseFloat($('#unirri-'+ a).val());
        var padti = parseFloat($('#padti-'+ a).val());
        //console.log((irrigated + unirrigated).toFixed(4));
        if(totalRakba >= (irrigated + unirrigated + padti).toFixed(4))
        {
            return true;
        }
        return false;
    }

    function saveAllData()
    {
        $('#landTbl tr').each(function(i,e){
            if(validateRow(i)){
                $(e).removeClass('table-info');
                $(e).removeClass('table-danger');
                $(e).addClass('table-info');
            }
            else
            {
                $(e).removeClass('table-info');
                $(e).removeClass('table-danger');
                 $(e).addClass('table-danger');
            }
        });
        if($('#landTbl .table-danger').length > 0)
        {
            alert('Please verify red colored rows.');
            return;
        }
        $('#landTbl tr').each(function(a,e){
            var totalRakba = parseFloat($('#rk-'+ a).text());
            var irrigated = parseFloat($('#irri-'+ a).val());
            var unirrigated = parseFloat($('#unirri-'+ a).val());
            var padti = parseFloat($('#padti-'+ a).val());
            var ri1 =  $('#ri').find(":selected").text().trim();
           var did1 =  $('#district').find(":selected").text().trim();
           var tehsil1 =  $('#tehsil').find(":selected").text().trim();
           var village1 =  $('#village').find(":selected").text().trim();
            var khasra =  $('#kh-'+ a).text();
            var source = $('#src-'+ a).val();
            var charge = $('#charge').val();
            var rajaswa = $('#rajaswa').val();
            var formData = new FormData(document.getElementById("frm1"));
            formData.append('ApplicationId', $('#ApplicationId').val());
            formData.append('TotalArea',totalRakba);
            formData.append('IrrigatedArea',irrigated);
            formData.append('UnIrrigatedArea',unirrigated);
            formData.append('NonAgriArea',padti);
            formData.append('District',did1);
            formData.append('Tehsil',tehsil1);
            formData.append('RI',ri1);
            formData.append('Village',village1);
            formData.append('KhasraNo',khasra);
            formData.append('OwnerName', $('#bhuswami').val());
            formData.append('DharanAdhikar', $('#dharan').val());
            formData.append('SourceofIrrigation', source);
            formData.append('Charge', charge);
            formData.append('RajaswaNyayalay', rajaswa);
            console.log(did1);
            $.ajax({
                url: "/LoanFlow/SaveKCCLand",
                data: formData,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function(data){
                    $(e).removeClass('table-info');
                    $(e).addClass('table-success');
                }
            });
        });
         var formData = new FormData(document.getElementById("frm1"));
            formData.append('AppnId', $('#ApplicationId').val());
            formData.append('docid',$('#docid').val());
            formData.append('khasra',$('#khasra').val());
             
            
            $.ajax({
                url: "/LoanFlow/AddB1",
                data: formData,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function(data){
                   alert('B1 uploaded');
                }
            });
    }

    function fetchBhuiya()
    {
        $('#btnSearch').text('Searching...');
        var ri =  $('#ri').find(":selected").val();
           var did =  $('#district').find(":selected").val();
           var tehsil =  $('#tehsil').find(":selected").val();
           var village =  $('#village').find(":selected").val();
            var khasra =  $('#khasra').val();
         $.ajax({   
                url: "/KCC/FetchBhuiyan?dDistrict="+did+"&dTehsil="+tehsil+"&dRi="+ri+"&dVillage="+village+"&dkhasra="+khasra,   
                type: "GET" 
            }).done(function (data) {
                $('#btnSearch').text('Search');
                $('#loadingModal').modal('hide');
                console.log(data);
                     $('#bhuswami').val(data.bhuswami);
                     $('#dharan').val(data.dharanAdhikar);
                     $('#charge').val(data.charge);
                      $('#rajaswa').val(data.rajaswa);
                     var lands = data.landDetails.split(',');
                     if(data.b1Signed != 'NA')
                     {
                          $('#docid').val(data.b1Number);
                         //$('#b1').append('<a href="/'+ data.b1Number +'">Digitally signed B1</a>');
                         $('#b1View').attr('src', "/" +data.b1Number  );
                     }
                     $.each(lands , function(i,e){
                        var k = e;
                        const regExp = /\(([^)]+)\)/g;
                        var l = k.match(regExp);
                        var kh = k.replace(l,'').trim();
                        var tl = l[0].replace('हे॰','');
                        tl = tl.replace('(','');
                        tl = tl.replace(')','').trim();
                        var trow = $('<tr ></tr>');
                        $(trow).append("<td id='sl-"+ i +"'>"+ (i+1) +"</td>");
                        $(trow).append("<td id='kh-"+ i +"'> " + kh + "  </td>");
                        $(trow).append("<td id='rk-"+ i +"'>" + tl + " </td>");
                        $(trow).append("<td><input id='irri-"+ i +"' data-type='irri' class='form-control-xs' type='text' value='0'/></td>");
                        $(trow).append("<td><input id='unirri-"+ i +"' data-type='unirri' class='form-control-xs' type='text' value='0' /></td>");
                        $(trow).append("<td><input id='padti-"+ i +"' data-type='irri' class='form-control-xs' type='text' value='0' /></td>");
                        $(trow).append("<td><input id='src-"+ i +"' data-type='irri' class='form-control-xs' type='text' value='Non Irrigated' /></td>");
                         $('#landTbl').append(trow);
                     });
                     
            }); 
    }
</script>
}