@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //Layout = null;
}
<form method="post" action="/LoanFlow/AddSecurity" enctype="multipart/form-data">
    <input type="hidden" value="@ViewBag.ApplicationId" name="ApplicationId"/>
   
   <div class="row justify-content-between text-left border border-primary">
  <div class="form-group col-sm-4 flex-column d-flex">
    <label >Type of Security</label>
     <select name="TypeOfSecurity" class="form-control">
         <option value="Primary">Primary </option>
         <option value="Collateral">Collateral </option>
     </select>
  </div>
  <div class="form-group col-sm-4 flex-column d-flex">
    <label >Category</label>
     <select name="Category" class="form-control" id="securityCat">
         <option value="Movable">Movable </option>
         <option value="Immovable">Immovable </option>
         <option value="Liquid">Liquid </option>
     </select>
  </div>
  <div class="form-group col-sm-4 flex-column d-flex">
    <label >Charge</label>
     <select name="TypeOfCharge" class="form-control">
         <option value="Hypothecation">Hypothecation </option>
         <option value="EM">Equitable Mortgage </option>
         <option value="RM">Registered Mortgage </option>
         <option value="Lien">Lien </option>
         <option value="Assignment">Assignment</option>
                <option value="Pledge">Pledge</option>
     </select>
 
  </div>
  </div>
  <div class="row justify-content-between text-left border border-primary">
  <div class="form-group col-sm-4 flex-column d-flex">
    <label >Security Detail</label>
     <select name="Description" class="form-control" id="secDetail">
         <option value="Plant & Machinary">Plant & Machinary  </option>
         <option value="Vehichle">Vehichle  </option>
         <option value="Equipments">Equipments  </option>
         <option value="Stock & Book Debts">Stock & Book Debts  </option>
         <option value="Land">Land  </option>
         <option value="Flat">Flat </option>
         <option value="Land & Building"> Land & Building </option>
         <option value="Crop"> Crop </option>
         <option value="18K"> Gold Ornaments : 18K </option>
         <option value="20K"> Gold Ornaments : 20K </option>
         <option value="22K"> Gold Ornaments : 22K </option>
         <option value="24K"> Gold Ornaments : 24K </option>
         <option value="21K"> Gold Ornaments : 21K </option>
         <option value="19K"> Gold Ornaments : 19K </option>
     </select>
  </div>
  <div class="form-group col-sm-4 flex-column d-flex">
    <label id="wt" >Plot / Khasra No.</label>
     <input id="wt1" type="text" name="PlotNo" class="form-control" placeholder="Plot / Khasra No."/> 
 
  </div>
  <div class="form-group col-sm-4 flex-column d-flex">
    <label id="ot" >Detail / Location </label>
     <input id="wt2" type="text" name="Location" class="form-control"/> 
  </div>
  
  </div>

   <div class="row justify-content-between text-left border border-primary">
        <div class="form-group col-sm-4 flex-column d-flex">
    <label id="orna" >Owner </label>
     <input type="text" name="Owner" class="form-control" placeholder="" /> 
 
  </div>
  <div class="form-group col-sm-4 flex-column d-flex ">
      <div>
          <label id="qty" >Boundary (For Land / Flat) </label>
     <input type="text" id="qty1" name="Boundary" class="form-control" value="North: , South : , East : , West :" placeholder="Boundary Details for Immovable"/> 
 
      </div>
    
  </div>
   <div class="form-group col-sm-4 flex-column d-flex">
    <label  > Valuation Considered </label>
     <input type="number" name="Valuation" class="form-control" placeholder="Value"/> 
 
  </div>
   </div>


   <div class="row justify-content-between text-left border border-primary immovable">
    <div class="form-group col-sm-4 flex-column d-flex">
    <label  >Advocate Name (TSR1) </label>
     <input type="text" name="Advocate1" class="form-control" placeholder="Name of Advocate"/> 
 
  </div>
  <div class="form-group col-sm-4 flex-column d-flex">
    <label  >TSR 1 Date </label>
     <input type="date" name="DateTSR1" class="form-control"  /> 
 
  </div>
  <div class="form-group col-sm-4 flex-column d-flex">
    <label  >Details of TSR1 </label>
     <textarea type="text" name="DetailsofTSR1" class="form-control" placeholder="Details including Remarks" rows="3"></textarea> 
 
  </div>
   
   </div>

   <div class="row justify-content-between text-left border border-primary immovable">
    <div class="form-group col-sm-4 flex-column d-flex">
    <label  >Advocate Name (TSR2) </label>
     <input type="text" name="Advocate2" class="form-control" placeholder="Name of Advocate"/> 
 
  </div>
  <div class="form-group col-sm-4 flex-column d-flex">
    <label  >TSR 2 Date </label>
     <input type="date" name="DateTSR2" class="form-control"  /> 
 
  </div>
  <div class="form-group col-sm-4 flex-column d-flex">
    <label  >Details of TSR2 </label>
     <textarea type="text" name="DetailsofTSR2" class="form-control" placeholder="Details including Remarks" rows="3"></textarea> 
 
  </div>
   
   </div>

   <div class="row justify-content-between text-left border border-primary">
    <div class="form-group col-sm-6 flex-column d-flex">
    <label  >Valuer Name  (For Val1)</label>
     <input type="text" name="Valuer1" class="form-control" placeholder="Name of Valuer"/> 
 
  </div>
  <div class="form-group col-sm-6 flex-column d-flex">
    <label  >Valuation Date (For Val1)</label>
     <input type="date" name="DateVal1" class="form-control"  /> 
 
  </div>
 
   
   </div>

   <div class="row justify-content-between text-left border border-primary immovable">
    <div class="form-group col-sm-4 flex-column d-flex">
    <label  >Govt. Value (For Val1) </label>
     <input type="number" name="GovtVal1" class="form-control" placeholder=""/> 
 
  </div>
  <div class="form-group col-sm-4 flex-column d-flex">
    <label  >Market Value (For Val1) </label>
     <input type="number" name="MarketVal1" class="form-control"  /> 
 
  </div>
  <div class="form-group col-sm-4 flex-column d-flex">
    <label  >Distress Value (For Val1) </label>
     <input type="number" name="DistressVal1" class="form-control" placeholder="" /> 
 
  </div>
   
   </div>

   <div class="row justify-content-between text-left border border-primary immovable">
    <div class="form-group col-sm-6 flex-column d-flex">
    <label  >Valuer Name  (For Val2)</label>
     <input type="text" name="Valuer2" class="form-control" placeholder=""/> 
 
  </div>
  <div class="form-group col-sm-6 flex-column d-flex">
    <label  >Valuation Date (For Val2)</label>
     <input type="date" name="DateVal2" class="form-control"  /> 
 
  </div>
 
   
   </div>

   <div class="row justify-content-between text-left border border-primary immovable">
    <div class="form-group col-sm-4 flex-column d-flex">
    <label  >Govt. Value (For Val2) </label>
     <input type="number" name="GovtVal2" class="form-control" placeholder=""/> 
 
  </div>
  <div class="form-group col-sm-4 flex-column d-flex">
    <label  >Market Value (For Val2) </label>
     <input type="number" name="MarketVal2" class="form-control"  /> 
 
  </div>
  <div class="form-group col-sm-4 flex-column d-flex">
    <label  >Distress Value (For Val2) </label>
     <input type="number" name="DistressVal2" class="form-control" placeholder="" /> 
 
  </div>
   
   </div>




   <div class="row justify-content-between text-left border border-primary">
      
  
 <div class="form-group col-sm-4 flex-column d-flex">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  </div>
  
  
  
</form>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function() { 
            $(".immovable").hide();
        });
        $('#securityCat').change(function() {
            var x = $('#securityCat').find(":selected").val();
            if (x == 'Immovable') {
                $(".immovable").show();
            }
            else {
                $(".immovable").hide();
            }
        });
         $('#secDetail').change(function() {
            var x = $('#secDetail').find(":selected").text();
            if (x.includes('Gold')) {
                $('#wt').text('Net Weight (In Gms)');
                $('#ot').text('Gross Weight (In Gms)');
                $('#qty').text('Quantity');
                $('#orna').text('Ornament Type');
                $('#wt1').removeAttr('placeholder');
                $('#wt1').attr('type','number');
                $('#wt1').attr('step','0.01');

                $('#wt2').removeAttr('placeholder');
                $('#wt2').attr('type','number');
                $('#wt2').attr('step', '0.01');
                $('#qty1').removeAttr('placeholder');
                $('#qty1').attr('type','number');
                $('#qty1').val('1');
            }
            else {
                 $('#wt').text('Plot / Khasra No.');
                $('#ot').text('Detail /Location');
                $('#qty').text('Boundary (For Land / Flat)');
                $('#orna').text('Owner');
                $('#wt1').attr('placeholder','Plot / Khasra No.');
                $('#wt1').attr('type','text');
                $('#wt2').attr('placeholder','Detail / Location');
                $('#wt2').attr('type','text');
                $('#wt2').removeAttr('step');
                $('#wt1').removeAttr('step');
                $('#qty1').attr('type','text');
                $('#qty1').val('North : , South : , East : , West :');
            }
        });
    </script>
}