@inject CustomIDataProtection _protector
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //Layout = null;
}



<form id="frm1" method="post" action="/LoanFlow/ChangePassword" enctype="multipart/form-data">
    
    <h3 style="color:red;">@ViewBag.Message</h3>
     <div class="row justify-content-between text-left">
      <div class="form-group col-sm-6 flex-column d-flex">
            <label>Current Password</label>
     </div>
    <div class="form-group col-sm-6 flex-column d-flex">
            <input type="password" class="form-control" required name="oldPassword"  />
    </div>
   
     </div>
     <div class="row justify-content-between text-left">
      <div class="form-group col-sm-6 flex-column d-flex">
            <label>New Password</label>
     </div>
    <div class="form-group col-sm-6 flex-column d-flex">
            <input type="password" class="form-control" required name="newPassword" id="newPassword"  />
    </div>
   
     </div>
     <div class="row justify-content-between text-left">
      <div class="form-group col-sm-6 flex-column d-flex">
            <label>Re-Type New Password</label>
     </div>
    <div class="form-group col-sm-6 flex-column d-flex">
            <input type="password" class="form-control" required name="password1" id="password1" />
    </div>
   
     </div>
      
    
   
  
  
  
  <button type="submit" class="btn btn-primary"  >Save</button>
  
</form>

@section scripts
{
<script type="text/javascript">

    

    $("form").on("submit", function (e) {

            if($('#newPassword').val() != $('#password1').val())
            {
                 alert('New Password is not same with Re-Type');
                 e.preventDefault();
            }
           
    });

  
</script>
}