@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <b>@ViewBag.Message</b>
        <div class="col-11 text-center">
            <h3>KCC Renewal (Non-LMS)</h3>
            
            <div class="card">
                
                <form class="form-card" method="post" action="/LoanFlow/KCCRenewal">
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> 
                            <label class="form-control-label px-1">KCC Account Number<span class="text-danger"> *</span></label> <input class="form-control" type="text" id="ApplicantShortName" name="AcNumber" placeholder="KCC Account Number" required /> </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> 
                            <label class="form-control-label px-1">Product Type<span class="text-danger"> *</span></label> 
                            <select class="form-control" name="Product">
                                <option value="KCC-Renewal">KCC</option>
                                <option value="KCC-20-Renewal">KCC-20</option>
                               
                        </select> </div>
                       
                    </div>
                    <div class="row justify-content-between text-left">
                         <div class="form-group col-sm-6 flex-column d-flex"> 
                            <label class="form-control-label px-1">5th Year Limit (Sanctioned Limit)<span class="text-danger"> *</span></label> 
                            <input class="form-control" type="text" id="ApplicantShortName" name="SanctionedLimit" placeholder="5th Year Limit" required />  
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-1">Applied Amount<span class="text-danger"> *</span></label> <input type="text" id="mob" name="AppliedAmt" placeholder="" > </div>

                          
                    </div>
                   
                     
                    <div class="row justify-content-between text-left" style="padding-right:15px;">
                        
                         <div class="form-group col-sm-5 flex-column d-flex"> <label class="form-control-label px-1">Credit Balance Date<span class="text-danger"> *</span></label> <input class="form-control" type="date" id="AppDate" name="CreditBalanceDate" placeholder=""  value="@DateTime.Today.ToString("yyyy-MM-dd")" max="@DateTime.Today.ToString("yyyy-MM-dd")" /> </div>
                        <div class="form-group col-sm-5 flex-column d-flex">
                            <label class="form-control-label px-1">Renewal For Year
                                <span class="text-danger"> *</span></label> <select name="RenFY">
                                    <option>2022-23</option>
                                    <option>2023-24</option>
                                    <option>2025-26</option>
                                    <option>2026-27</option>
                                    <option>2027-28</option>
                                </select>
                                </div>
                         <div class="form-group col-sm-2"><label class="form-control-label px-1"></label> <button type="submit" class="btn-block btn-primary">Save</button> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
