@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     Layout = "_Layout2.cshtml";
}

<ul class="nav nav-tabs" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">First Panel</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Second Panel</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Third Panel</a>
	</li>
</ul><!-- Tab panes -->

@*

<div class="tab-content">
	<div class="tab-pane active" id="tabs-1" role="tabpanel">
		    <div style="margin-top: 10px; margin-left: 5px; margin-right: 50px;padding-bottom:10px;" class="row border border-primary">
                        <div class="col-sm-12 col-md-6">
                            <b>Name of Organization</b>
                        </div>
                        <div class="col-sm-12 col-md-6">
                                <input type="text" name="1" value="" class="form-control">
                                 </div>
                             </div>
                        <div style="margin-top: 10px; margin-left: 5px; margin-right: 50px;padding-bottom:10px;" class="row border border-primary">
                        <div class="col-sm-12 col-md-6">
                            <b>Address</b>
                        </div>
                        <div class="col-sm-12 col-md-6">
                                <input type="text" name="2" value="" class="form-control">
                                 </div>
                             </div>
                        <div style="margin-top: 10px; margin-left: 5px; margin-right: 50px;padding-bottom:10px;" class="row border border-primary">
                        <div class="col-sm-12 col-md-6">
                            <b>Type of Organization</b>
                        </div>
                        <div class="col-sm-12 col-md-6">
                                <select name="3" class="form-control">
                                        <option value="Central Govt. Office / Site">Central Govt. Office / Site</option>    
                                        <option value="State Govt. Office / Site">State Govt. Office / Site</option>    
                                        <option value="PSU Office / Site">PSU Office / Site</option>    
                                        <option value="Own Business place (Shop/Office)">Own Business place (Shop/Office)</option>    
                                        <option value="Rented Business place (Shop/Office)">Rented Business place (Shop/Office)</option>    
                                </select>
                                 </div>
                             </div>
                        <div style="margin-top: 10px; margin-left: 5px; margin-right: 50px;padding-bottom:10px;" class="row border border-primary">
                        <div class="col-sm-12 col-md-6">
                            <b>Business Status / Designation Confirmed</b>
                        </div>
                        <div class="col-sm-12 col-md-6">
                                <select name="4" class="form-control">
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                                 </div>
                             </div>
	</div>
	<div class="tab-pane" id="tabs-2" role="tabpanel">
		<p>Second Panel</p>
	</div>
	<div class="tab-pane" id="tabs-3" role="tabpanel">
		<p>Third Panel</p>
	</div>
</div>
*@









<div class="tab-content">
                <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div style="margin-top: 10px; margin-left: 5px; margin-right: 50px;padding-bottom:10px;" class="row border border-primary">
                                    <div class="col-sm-12 col-md-6">
                                    <b>Name of Organization</b>
                               </div>
                                <div class="col-sm-12 col-md-6">
                                
                                        <input type="text" name="1" value="" class="form-control">
                            
                        
                                 </div>
                                 </div>
                                <div style="margin-top: 10px; margin-left: 5px; margin-right: 50px;padding-bottom:10px;" class="row border border-primary">
                                    <div class="col-sm-12 col-md-6">
                                    <b>Address</b>
                               </div>
                                <div class="col-sm-12 col-md-6">
                                
                                        <input type="text" name="2" value="" class="form-control">
                            
                        
                                 </div>
                                 </div>
                                <div style="margin-top: 10px; margin-left: 5px; margin-right: 50px;padding-bottom:10px;" class="row border border-primary">
                                    <div class="col-sm-12 col-md-6">
                                    <b>Type of Organization</b>
                               </div>
                                <div class="col-sm-12 col-md-6">
                                
                                        <select name="3" class="form-control">
                                                <option value="Central Govt. Office / Site">Central Govt. Office / Site</option>    
                                                <option value="State Govt. Office / Site">State Govt. Office / Site</option>    
                                                <option value="PSU Office / Site">PSU Office / Site</option>    
                                                <option value="Own Business place (Shop/Office)">Own Business place (Shop/Office)</option>    
                                                <option value="Rented Business place (Shop/Office)">Rented Business place (Shop/Office)</option>    
                                        </select>
                            
                        
                                 </div>
                                 </div>
                                <div style="margin-top: 10px; margin-left: 5px; margin-right: 50px;padding-bottom:10px;" class="row border border-primary">
                                    <div class="col-sm-12 col-md-6">
                                    <b>Business Status / Designation Confirmed</b>
                               </div>
                                <div class="col-sm-12 col-md-6">
                                
                                        <select name="4" class="form-control">
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                            
                        
                                 </div>
                                 </div>
                </div>     
                  <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div style="margin-top: 10px; margin-left: 5px; margin-right: 50px;padding-bottom:10px;" class="row border border-primary">
                                    <div class="col-sm-12 col-md-6">
                                    <b>Working Since</b>
                               </div>
                                <div class="col-sm-12 col-md-6">
                                
                                        <input type="number" min="0" name="5" value="" class="form-control">
                            
                        
                                 </div>
                                 </div>
                                <div style="margin-top: 10px; margin-left: 5px; margin-right: 50px;padding-bottom:10px;" class="row border border-primary">
                                    <div class="col-sm-12 col-md-6">
                                    <b>3rd party Verification done</b>
                               </div>
                                <div class="col-sm-12 col-md-6">
                                
                                        <select name="6" class="form-control">
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                            
                        
                                 </div>
                                 </div>
                                <div style="margin-top: 10px; margin-left: 5px; margin-right: 50px;padding-bottom:10px;" class="row border border-primary">
                                    <div class="col-sm-12 col-md-6">
                                    <b>3rd Party Details</b>
                               </div>
                                <div class="col-sm-12 col-md-6">
                                
                                        <input type="text" name="7" value="" class="form-control">
                            
                        
                                 </div>
                                 </div>
                                <div style="margin-top: 10px; margin-left: 5px; margin-right: 50px;padding-bottom:10px;" class="row border border-primary">
                                    <div class="col-sm-12 col-md-6">
                                    <b>Photo of Work Place</b>
                               </div>
                                <div class="col-sm-12 col-md-6">
                                
                                        <input type="file" name="8" accept="image/*" capture="camera" value="" class="form-control">
                            
                        
                                 </div>
                                 </div>
                </div>     
                  <div class="tab-pane" id="tabs-3" role="tabpanel">
                </div>     
   </div>