@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form action="/Home/AddUser1" method="post" class="form-control" enctype="multipart/form-data">

    <input type="file" class="form-control-file" name="fname" />
    <button type="submit">Submit</button>

</form>